<!DOCTYPE html>
<html>
<head>
	<title>Leaderboards</title>
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,100,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta name="viewport" content="width=device-width, user-scalable=false;">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Leaderboards</h1>
		</div>
		<div class="row">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th id="rank">Rank</th>
						<th id="team">Team</th>
						<th id="points">Points</th>
					</tr>
				</thead>
				<tbody>
					<% leaderboards.each_with_index do |elem, index| %>
					<tr>
						<td id="rank-leaders"><%= index + 1 %></td>
						<td id="team-leaders"><%= elem['team'] %></td>
						<td id="points-leaders"><%= elem['points'] %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>