body {
	font-family: 'Advent Pro';
	background: #14191f;
}

.container {
	text-align: center;
	width: 320px;
	padding: 25px; 
}

h1 {
	font-family: 'Advent Pro';
	color: white;
	font-size: 50px;
	font-weight: 100;
}

th {
	font-family: 'Advent Pro';
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}